<mat-toolbar color="accent">
    <button 
        mat-icon-button 
        class="example-icon" 
        aria-label="Example icon-button with menu icon"
        [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <a
            mat-menu-item 
            routerLink="/room-view" 
            routerLinkActive="active" 
            ariaCurrentWhenActive="page">
                Room-View
        </a>
    </mat-menu>
    <span class="spacer"></span>
    <span>
        <h1>Welcome to {{title}} </h1>
    </span>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
